{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for(’add_entry’) }}" method=post class=add-entry>
	<dl>
		<dt>Event Title:
			<dd><input type=text size=30 name=eventTitle>
		<dt>Event Time:
			<dd><input type=submit size=30 name=eventTime>
		<dt>Event Reminder Time:
			<dd><input type=submit size=30 name=eventReminderTime>
		<dt>Event Reminder Num:
			<dd><input type=submit size=30 name=eventReminderNum>
	</dl>
</form>

{% endif %}
<ul class=entries>
{% for entry in entries %}
	<li><h2>{{ entry.event_title }}</h2>{{ entry.event_time|safe }}
	{% else %}
	<li><em>Unbelievable. No entries here so far</em>
	{% endfor %}
</ul>
{% endblock %}